{% extends 'base.html.twig' %}

{% block title %}Category {{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {% if programs is empty %}
        <p>Aucune série trouvée.</p>
    {% else %}
        <ul>
            {% for program in programs %}
                <li>
                    <h2>ID: {{ program.id }} <a href="{{ path('program_show', { id: program.id }) }}">{{ program.title }}</a></h2>
                    <p>{{ program.synopsis }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('category_index') }}">Retour à la liste des catégories</a>
{% endblock %}
